*{ color: white; }

body{
    min-height: 100vh;
    background-image: url('../imgs/web_logo.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

h3{
    margin-top: 300px;
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
}

.row{
    width: 60%;
}

.init_sesion{
    h3{
        margin-top: 250px;
        margin-bottom: 20px;
    }

    button{
        margin-top: 20px;
    }
}

.reg{
    h3{
        margin-top: 350px;
        margin-bottom: 20px;
    }

    .row{
        margin-top: 20px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: flex-start;
        width: 400px;

        input{
            width: fit-content;
            margin-right: 25px;
        }

        label{
            font-size: 16px;
        }
    }
}